<div class="container text-center px-4 py-4">
    <div class="row justify-content-md-center">
        <div class="col">
            <h1 class="mb-4 pb-4"><strong>Editar Usuarios</strong></h1>
        </div>

        <div class="row justify-content-end">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Ingrese email del usuario" id="searchEmail"
                        name="searchEmail" />
                    <button class="input-group-text" (click)="search()">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>

        <hr class="mt-5" />
        <div class="row">
            <div class="table table-borderless">
                <div>
                    <div class="row">
                        <div class="col">Nombre</div>
                        <div class="col">Email</div>
                        <div class="col">Rol del usuario</div>
                        <div class="col">Celular</div>
                        <div class="col">Opciones</div>
                    </div>
                </div>
                <div>
                    <!--listado de usuarios-->
                    <div *ngFor="let usuario of usuarios">
                        <div class="row">
                            <div class="col">{{ usuario.nombre }}</div>
                            <div class="col">{{ usuario.email }}</div>
                            <div class="col">{{ usuario.rol }}</div>
                            <div class="col">{{ usuario.celular }}</div>
                            <div class="col">
                                <form class="py-4">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>⚙</option>
                                        <option value="editar">🖍 Editar</option>
                                        <option value="eliminar">🗑 Eliminar</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>