<div class="row gx-1">

  <div *ngFor="let servicio of servicios; let i=index" class="col">
    <div class="card box-size">
      <img src="{{servicio.imagenUrl}}" class="card-img-top" alt="{{servicio.titulo}}" />
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          {{servicio.descripcion}}
        </p>
        <a routerLink="{{servicio.page}}" ariaCurrentWhenActive="page" class="btn btn-primary"><i
            class="bi {{iconType}} px-2"></i>{{buttonName}}</a>
      </div>
    </div>
  </div>

</div>