<div class="container">
  <!--Foto de Christina Morillo: https://www.pexels.com/es-es/foto/computadora-portatil-negra-y-gris-encendida-haciendo-codigos-de-computadora-1181271/-->
  <img
    src="https://images.pexels.com/photos/1181271/pexels-photo-1181271.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    class="imagen-principal"
    alt="imagen pagina inicio"
  />
</div>

<div class="container text-center px-4 py-4">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <h1><strong>Sobre Nosotros</strong></h1>
      <p>
        Somos una empresa dedica al desarrollo de software, nuestro equipo
        especializado desarrolla, implementa y ejecuta soluciones tecnológicas
        con el objetivo de optimizar la gestión y la eficiencia de las
        actividades en los diversos sectores empresariales.
      </p>
      <hr />
    </div>
  </div>
</div>

<div class="container text-center px-4 py-4">
  <div class="row justify-content-md-center">
    <div class="col">
      <h1><strong>Servicios</strong></h1>
      <app-servicios [iconType]="iconBtn" [buttonName]="nameBtn"></app-servicios>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center text-center px-4 py-4">
    <div class="col-md-8">
        <hr />
        <h1><strong>Reseñas</strong></h1>
      <div class="box-size-comment">  
        <app-comment></app-comment>
      </div>
    </div>
  </div>
</div>
