<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner top-50 start-50 text-center">
    <div class="carousel-item active">
      <p class="text-dark">
        El equipo de ingenieros tiene un alto conocimiento.
      </p>
      <!--Foto de pranav digwal de Pexels: https://www.pexels.com/es-es/foto/hombre-vestido-con-chaqueta-de-traje-formal-negro-32976/-->
      <img
        src="https://images.pexels.com/photos/32976/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="rounded-circle imagen-comment"
        alt="lider SkyCompany"
      />
      <h5 class="text-dark">Lider técnico - SkyCompany</h5>
    </div>

    <div class="carousel-item">
      <p class="text-dark">
        Excelente trabajo en pruebas performance, smoke test y E2E.
      </p>
      <!--Foto de Andrea Piacquadio de Pexels: https://www.pexels.com/es-es/foto/hombre-en-traje-negro-chaqueta-posicion-y-sonriente-3777557/-->
      <img
        src="https://images.pexels.com/photos/3777557/pexels-photo-3777557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="rounded-circle imagen-comment"
        alt="lider SkyCompany"
      />
      <h5 class="text-dark">Lider TI, Flowers Shop</h5>
    </div>

    <div class="carousel-item">
      <p class="text-dark">
        Son los mejores proveedores de ingenieros de software.
      </p>
      <!--Foto de ThisIsEngineering de Pexels: https://www.pexels.com/es-es/foto/blusa-sin-mangas-mujer-en-negro-3861954/-->
      <img
        src="https://images.pexels.com/photos/3861954/pexels-photo-3861954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="rounded-circle imagen-comment"
        alt="lider SkyCompany"
      />
      <h5 class="text-dark">Product Owner, Kites S.A.S</h5>
    </div>
  

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    </div>
</div>
