<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner top-50 start-50 text-center">
    <div *ngFor="let comentario of comments; let i=index">
      <div class="carousel-item" [class.active]="i===0">
        <p class="text-dark">{{comentario.mensaje}}</p>
      <img src="{{comentario.urlFoto}}" class="rounded-circle imagen-comment" alt="{{comentario.empresa}}" />
      <h5 class="text-dark">{{comentario.empresa}}</h5>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
</div>